.Section5_container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
    padding-bottom: 100px;
}

.Section5_content{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h3{
        font-size: 36px;
        font-weight: 700;
        font-family: 'Playfair Display';
        margin: 0 ;
        line-height: 50px;
    }
}


.Section5_imgs{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
